.grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.snake {
    background-color: rgb(41,171,135);
}

.apple {
    background-color: #cc0600;
    border-radius: 50%;
}