:root {
    font-family: 'Audiowide', sans-serif;
}

.game {
    position: relative;
}

.grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div {
    width: 20px;
    height: 20px;
}

.blur {
    filter: blur(5px)
}

.game-btns {
   position: absolute;
   background-color: #3a4e93 ;
   color: 
   #b957ce;
   left: 7rem;
   top: 10rem;
   font-size: 2rem;
   padding: 14px 40px;
   cursor: pointer;
   font-family: inherit;
}

.snake {
    background-color: #5c58b6;
    border-radius: 4px;
}

.apple {
    background-color: #b957ce;
    border-radius: 50%;
    border: 1px solid #5994ce;
}

.hide {
    display: none;
}